{
	"walltime": "02:00:00",
	"env_name": "wheezy-x64-prod",
	"rally-git": "https://git.openstack.org/openstack/rally",

	"deployment_name": "os-rally",
	"authentication": {
		"os-tenant": "openstack",
		"os-username": "admin",
		"os-password": "admin",
		"os-region": "RegionOne",
		"os-user-domain": "",
		"os-admin-domain": "",
		"os-project-domain": ""
	},

	"rallies": {
		"cluster": "sagittaire",
		"os-services": {
			"controller": "taurus-12.lyon.grid5000.fr",
			"storage": "taurus-15.lyon.grid5000.fr",
			"network": "taurus-16.lyon.grid5000.fr"
		},
		"os-computes": ["taurus-4.lyon.grid5000.fr", "taurus-9.lyon.grid5000.fr"]
	}
}
